# Day 04 Answers

1

In [ ]:
loaddir = '../data/'
jan_data = np.loadtxt(loaddir+'city_temps_january.csv', delimiter=',',skiprows= 1)


## part one answer
print(jan_data)
print(type(jan_data))

In [ ]:
## function
def get_city_info(city_name, index, month, data_set):
    city_mean = np.mean(data_set[:,index]) # takes the mean
    city_max = np.max(data_set[:,index]) # the max
    city_min = np.min(data_set[:,index]) # the min
    
    print(f"{month} in {city_name}: \nmean is {round(city_mean)}, max is {round(city_max)}, min is {round(city_min)}")

In [ ]:
## for loop for january
cities = ['Anchorage','Seattle','San Diego','Chicago','St. Louis','Cleveland']
for i in range(0,len(cities)):
    get_city_info(cities[i],i, "January", jan_data)

In [ ]:
## for loop for july
july_data = np.loadtxt(loaddir+'city_temps_july.csv', delimiter=',',skiprows =1)
for i in range(0,len(cities)):
    get_city_info(cities[i],i, "July", july_data)

# 2

In [ ]:
def f_to_c(F):
    """
    Convert Fahrenheit values to Celsius.
    """
    # 1. Make sure F is a numpy array of floats
    F = np.asarray(F, dtype=float)
    
    # 2. Apply the conversion formula to every element
    C = (F - 32) * (5.0 / 9.0)
    
    # 3. Return the new array
    return C

f_to_c([32, 50, 212])

# 3

In [ ]:
def summary_stats(values):
    """
    Return statistics values while ignoring NaN values.
    If input is empty or all-NaN, returns NaN for all fields.
    """
    # Coerce to 1D float array
    arr = np.asarray(values, dtype=float).ravel()

    # Handle empty input
    if arr.size == 0:
        return {'mean': np.nan, 'median': np.nan, 'stdev': np.nan}

    # Keep only non-NaN entries
    mask = ~np.isnan(arr)
    if not mask.any():
        return {'mean': np.nan, 'median': np.nan, 'stdev': np.nan}

    x = arr[mask]

    # Mean
    mean = np.mean(x)

    # Median
    median = np.median(x)

    # std
    stdev = np.std(x)

    return {'mean': mean, 'median': median, 'stdev': stdev}

print(summary_stats([1,2,np.nan,3]))

# 4

In [ ]:
def filter_stations(ids, depths):
    """
    Select station IDs that start with 'ER' or 'ON' and
    have depths between 20 and 100 m inclusive.
    """
    #make array first
    ids = np.array(ids)
    depths=np.array(depths)

    # Boolean mask: lake code check
    ok_lake = np.char.startswith(ids, 'ER') | np.char.startswith(ids, 'ON')

    # Boolean mask: depth check (inclusive bounds)
    ok_depth = (depths >= 20) & (depths <= 100)

    # Combine both masks
    mask = ok_lake & ok_depth

    return ids[mask]

# Test
ids = ['ER15M','HU10S','ON41','MI02']
depths = [30, 5, 100, 60]
print(filter_stations(ids, depths))

# 5

In [ ]:
def filter_evens(nums):
    result = []
    for n in nums:
        if n % 2 == 0 and n > 10:   
            result.append(n)
    return result

# let's test it
print(filter_evens([4, 11, 12, 7, 18, 3, 9]))
# Expected: [12, 18]   (only even numbers AND > 10)

In [ ]:
#no evens greater than 10- should be empty 
print(filter_evens([1, 7, 9, 6]))

#Input list has multiple even numbers > 10, so all of them should appear.
print(filter_evens([2, 4, 12, 18, 25, 30]))